.main-wrapper {
}

.wrapper-avatar-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e8dede;
    font-family: monospace
}

.description-panel h1, .description-panel h2, .description-panel h3 {
    margin-top: 20px;
}

.description-panel h1:first-child {
    margin-top: 10px;
}

.social-links a {
    color: black;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-links a:hover {
    text-decoration: none;
    color: #ceabab;
}

.social-links a:focus {
    outline: none;
}

.description-panel p {
    margin-top: 30px;
}
